body {
  background-color: #191919;
  color: #A0A09C;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
}

#spotify_playlist {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.header {
  font-size: 75px;
  line-height: 0px;
  margin: 37.5px 0px 37.5px 0px;
  width: 74.5%;
  float: left;
  display: inline-block;
  text-align: center;
}

.header2 {
  font-size: 75px;
  line-height: 0px;
  margin: 48px 0px 55.25px 0px;
  width: 74.5%;
  text-align: center;
}

#login_button {
  padding: 0px 0px 0px 0px;
  background-color: #191919;
  color: white;
  float:left;
  margin: 60px;
  margin-top: 0px;
  margin-left: 95px;

  border: #191919 solid 1px;
  height: 15px;
  width: 14.4%;
  text-align: center;
  border-radius: 20px;
}




#login_button:hover {
  background-color: black;
  color: #A0A09C;
}

/* This is the container that holds the tabs of the navigation bar or basically the navigation bar. */
#navbar {
  border: 1px #191919 solid;
  margin: 10px;
  padding: 0;
  width: 99%;
  height: 50px;
}

/* These are the tabs for the navigation bar. */
.tabs_first {
  padding: 15px 70px 10px 70px;
  background-color: #474747;
  color: black;
  float: left;
  margin: 0;
  border: #191919 solid 1px;
  height: 25px;
  width: 14.75%;
  text-align: center;
  border-radius: 20px 0px 0px 20px;
}

.tabs {
  padding: 15px 70px 10px 70px;
  background-color: #474747;
  color: black;
  float: left;
  margin: 0;
  border: #191919 solid 1px;
  height: 25px;
  width: 14.75%;
  text-align: center;
}

.tabs_last {
  padding: 15px 70px 10px 70px;
  background-color: #474747;
  color: black;
  float: left;
  margin: 0;
  border: #191919 solid 1px;
  height: 25px;
  width: 14.75%;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
}

.tabs_first:hover {
  background-color: #004200;
  color: #A0A09C;
}

.tabs:hover {
  background-color: #004200;
  color: #A0A09C;
}

.tabs_last:hover {
  background-color: #004200;
  color: #A0A09C;
}

/* This rotates the arrow */
.rotate_vote {
  transform: rotate(180deg);
}

/* This is the arrow image */
.vote_arrow {
  cursor:pointer;
  width:50px;
  height:50px;
}

/* How Caroline made the circle around the arrow */
.vote_arrow:hover {
    background-color:#000;
    opacity:0.5;
    border-radius:30px;
}

/* The container that holds all the songs and is basically the playlist */
.playlist_table {
  border-spacing: 2px;
  text-align: center;
  margin: 20px 12px 10px 10px;
}

/* The first row of the table, with the exception of the voting and the blank space */
.table_header {
  padding: 2px;
  width: 25.215%;
  background-color: #272727;
}

/* The columns for each title except voting and the blank space */
.playlist_table_content {
  background-color: #272727;
}

/* The voting box in the first row */
#votes_header {
  padding: 2px;
  width: 20.75%;
  background-color: #272727;
}

/* The column under the voting box */
.votes_column {
  background-color: #272727;
}

/* The blank space box in the first row */
#blank_space {
  width: 10%;
  background-color: #272727;
}

/* The column under the blank space or where the broken arrows are */
#arrow_column {
  padding: 5px;
  background-color: #272727;
}

/* The invisible box holding the add song bar and submit button */
#add_song_container {
  font-family:Courier;
  margin: 0;
  background-color: #272727;
  padding: 10px 21px;
  width: 130%;
  position: relative;
  right: 2%;
  text-align: center;
  border-radius: 20px;
  clear: both;
}

/* This is the song bar to add songs */
#add_song_content {
  margin: 0px 0px 4px 4px
}

/* I'm guessing this is the Spotify Button to add songs */
.add_song_button {
  background: #649000;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 4px 0px 0px 15px;
}

.add_song_button:hover {
  background: #82BD03;
  cursor: pointer;
}

#add_song_button:focus {
  outline: 0;
}

#invisible_button{
  display: none;
}

.bio {
  background-color: #272727;
  margin: 8px 10px 8px 10px;
  width: 98.5%;
  height: 200px;
  clear: both;
  border-radius: 20px;
}

.other_bio {
  background-color: #272727;
  margin: 8px 10px 8px 10px;
  width: 98.5%;
  height: 200px;
  clear: both;
  border-radius: 20px;
}

.bio_pic {
  margin: 10px;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  float: left;
}

.bio_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 10px 0px;
}

.cannot_add_song_text {
  margin: 0px 10px 10px 12px;
  background-color: #272727;
  display: inline-block;
  border-radius: 20px;
  height: 25px;
  padding: 0px 5px 25px 5px;
}

.about_jam_container {
  background-color: #272727;
  margin: 8px 10px 8px 10px;
  width: 98.5%;
  height: 500px;
  clear: both;
  border-radius: 20px;
  text-align: center;
}

.about_jam_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  padding: 10px 0px;
}
