body {
  background-color: #191919;
  color: #A0A09C;
  font-family: 'Montserrat', sans-serif;
}

#header {
  font-size: 75px;
  text-align: center;
  line-height: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* This is the container that holds the tabs of the navigation bar or basically the navigation bar. */
#navbar {
  border: 1px #191919 solid;
  margin: 10px 10px 10px 10px;
  padding: 0;
  width: 99%;
  height: 50px;
}

/* These are the tabs for the navigation bar. */
.tabs {
  padding: 15px 70px 10px 70px;
  background-color: #474747;
  color: black;
  float: left;
  margin: 0;
  border: #191919 solid 1px;
  height: 25px;
  width: 14.75%;
  text-align: center;
}

.tabs:hover {
  background-color: #004200;
  color: #A0A09C;
}


.rotate_vote {
  transform: rotate(180deg);
}

.vote_arrow {
  cursor:pointer;
  width:50px;
  height:50px;
}

.vote_arrow:hover {
    background-color:#000;
    opacity:0.5;
    border-radius:30px;
}

/* The container that holds all the songs and is basically the playlist */
.playlist_table {
  border-spacing: 0;
  text-align: center;
  margin: 20px 12px 10px 10px;
}

/* The first row of the table, with the exception of the voting and the blank space */
.playlist_table_th {
  padding-top: 8px;
  width: 25.05%;
  background-color: #272727;
}

/* The columns for each title except voting and the blank space */
.playlist_table_content {
  background-color: #272727;
}

/* The voting box in the first row */
.playlist_table_th_vote {
  padding-top: 4px;
  width: 20%;
  background-color: #272727;
}

/* The column under the voting box */
.playlist_table_content_vote {
  background-color: #272727;
}

/* The blank space box in the first row */
.playlist_table_th_arrow {
  width: 10%;
  background-color: #272727;
}

/* The column under the blank space or where the broken arrows are */
#arrow_layout {
  padding: 5px;
  background-color: #272727;
}

/* The invisible box holding the add song bar and submit button */
#add_song_container {
  font-family:Courier;
  margin-left: 12px;
  background-color: #272727;
  width: 23%;
  padding: 10px;
  text-align: center;
}

#add_song_content {
  margin: 0px 0px 4px 4px
}


#add_song_button {
  background: #649000;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
#add_song_button:hover {
  background: #82BD03;
}

#invisible_button{
  display: none;
}
